In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

In [7]:
countries = ['ARG', 'BOL', 'BRA', 'CHL', 'COL', 'ECU', 'GUY', 'PRY', 'PER', 'VEN', 'URY', 'SUR']

from pandas_datareader import wb
euse = wb.download(indicator='EG.USE.PCAP.KG.OE', country=countries, start=1971, end=2014)
euse.head(3)

gdp = wb.download(indicator='NY.GDP.PCAP.KD', country=countries, start=1971, end=2014)
gdp.head(3)

#cpi = wb.download(indicator='FP.CPI.TOTL', country=countries, start=1971, end=2014)
#cpi.head(3)

joiningdata = pd.merge(euse,gdp, how='inner', on=['country','year'])
joiningdata = joiningdata.reset_index()
joiningdata = joiningdata.rename(columns = {'country' : 'countries', 
                                  'EG.USE.PCAP.KG.OE' : 'euse', 
                                  'NY.GDP.PCAP.KD' : 'gdp'})

# Sorting data:
joiningdata.sort_values(by=['countries','year'], inplace=True)
joiningdata = joiningdata.reset_index(drop = True)
joiningdata

#Deleting rows with missing data
print(f'before: {joiningdata.shape[0]} observations, {joiningdata.shape[1]} variables')
for val in ['Guyana', 'Suriname']: 
    I = joiningdata.countries.str.contains(val)
    joiningdata.drop(joiningdata[I].index, inplace=True)
print(f'after: {joiningdata.shape[0]} observations, {joiningdata.shape[1]} variables')

joiningdata.groupby('countries').mean()

before: 528 observations, 4 variables
after: 440 observations, 4 variables

                      euse           gdp
countries
Argentina      1577.821307   8038.279267
Bolivia         469.526977   1630.257096
Brazil         1033.796172   8567.851994
Chile          1277.436140   7934.020545
Colombia        660.678585   4618.023011
Ecuador         638.038425   3887.789092
Paraguay        694.451297   3394.018057
Peru            551.234617   3723.383196
Uruguay         902.129600   8172.112245
Venezuela, RB  2066.910665  13107.434867

In [10]:
# Calculate percentage change in gdp
joiningdata['gdp_pct'] = joiningdata.groupby('countries')['gdp'].pct_change() *100
joiningdata

         countries  year         euse           gdp    gdp_pct
0        Argentina  1971  1380.921398   7335.759136        NaN
1        Argentina  1972  1379.818923   7329.921158  -0.079582
2        Argentina  1973  1411.496781   7407.366754   1.056568
3        Argentina  1974  1415.682954   7685.857212   3.759642
4        Argentina  1975  1378.546993   7559.143749  -1.648658
5        Argentina  1976  1404.744778   7291.840429  -3.536159
6        Argentina  1977  1420.567765   7681.017571   5.337159
7        Argentina  1978  1426.919260   7227.564124  -5.903560
8        Argentina  1979  1484.565823   7849.363340   8.603164
9        Argentina  1980  1487.617079   7849.115971  -0.003151
10       Argentina  1981  1430.440084   7327.705618  -6.642918
11       Argentina  1982  1416.540023   7160.749689  -2.278420
12       Argentina  1983  1419.930165   7355.292503   2.716794
13       Argentina  1984  1447.819825   7354.429897  -0.011728
14       Argentina  1985  1360.665414   6865.450355  -6.648776
15       Argentina  1986  1421.546979   7177.265623   4.541804
16       Argentina  1987  1477.043426   7260.987434   1.166486
17       Argentina  1988  1504.819091   7075.901679  -2.549044
18       Argentina  1989  1441.482265   6474.180178  -8.503814
19       Argentina  1990  1407.386750   6224.510019  -3.856398
20       Argentina  1991  1430.514982   6698.009041   7.607009
21       Argentina  1992  1483.779437   7130.569530   6.458046
22       Argentina  1993  1468.220775   7612.681153   6.761194
23       Argentina  1994  1541.657524   7952.711552   4.466631
24       Argentina  1995  1544.355772   7630.022274  -4.057601
25       Argentina  1996  1582.138202   7955.127652   4.260871
26       Argentina  1997  1613.918988   8500.940362   6.861143
27       Argentina  1998  1650.343735   8728.947651   2.682142
28       Argentina  1999  1659.992827   8339.894389  -4.457047
29       Argentina  2000  1661.117041   8182.686502  -1.885011
..             ...   ...          ...           ...        ...
498  Venezuela, RB  1985  2075.457822  11809.668516  -2.383481
499  Venezuela, RB  1986  2115.754291  12256.159942   3.780728
500  Venezuela, RB  1987  2063.810237  12372.041461   0.945496
501  Venezuela, RB  1988  1942.961929  12763.628656   3.165098
502  Venezuela, RB  1989  1946.645721  11383.408127 -10.813700
503  Venezuela, RB  1990  1993.133003  11830.683004   3.929182
504  Venezuela, RB  1991  2033.667831  12681.627157   7.192688
505  Venezuela, RB  1992  2223.709901  13148.200220   3.679126
506  Venezuela, RB  1993  2025.740657  12896.477189  -1.914506
507  Venezuela, RB  1994  2298.028680  12325.152633  -4.430082
508  Venezuela, RB  1995  2110.947449  12545.250730   1.785764
509  Venezuela, RB  1996  2204.173783  12265.361382  -2.231038
510  Venezuela, RB  1997  2150.671016  12787.044666   4.253305
511  Venezuela, RB  1998  2220.398275  12574.743705  -1.660282
512  Venezuela, RB  1999  2076.402004  11597.994748  -7.767546
513  Venezuela, RB  2000  2093.754375  11799.883322   1.740720
514  Venezuela, RB  2001  2126.762933  11975.381754   1.487290
515  Venezuela, RB  2002  2266.515760  10717.184505 -10.506531
516  Venezuela, RB  2003  2047.272510   9710.306600  -9.394985
517  Venezuela, RB  2004  2142.998056  11285.870531  16.225687
518  Venezuela, RB  2005  2102.166650  12237.935007   8.435898
519  Venezuela, RB  2006  2302.793536  13221.476898   8.036829
520  Venezuela, RB  2007  2095.111416  14143.718110   6.975327
521  Venezuela, RB  2008  2305.696447  14652.240748   3.595396
522  Venezuela, RB  2009  2274.512867  13961.945162  -4.711195
523  Venezuela, RB  2010  2493.466402  13545.263453  -2.984410
524  Venezuela, RB  2011  2280.727906  13902.511424   2.637438
525  Venezuela, RB  2012  2444.104221  14473.531415   4.107315
526  Venezuela, RB  2013  2268.055965  14462.419697  -0.076773
527  Venezuela, RB  2014          NaN  13709.043055  -5.209202

[440 rows x 5 columns]

In [9]:
def plot(fig):
   fig = fig.set_index('year')
      fig_indexed.groupby(['countries'],['gdp_pct']).plot(legend=True);

plot(joiningdata)

IndentationError: unexpected indent (<ipython-input-9-f370e17b4f89>, line 7)